region             = "us-east-1"
image_repository   = "000000000000.dkr.ecr.us-east-1.amazonaws.com/devops-practical" # replace with your account id
image_tag          = "v1"
mongo_app_password = "CHANGEME-STRONG!"
